[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask-limiter = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask = "*"
python-dotenv = "*"
gunicorn = "*"
flask-mail = "*"
flask-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
